.display_none,
.display_none_button {
  display: none;
}

.green_bgcolor {
  background-color: #94c02f;
  flex-wrap: nowrap;
}

.red_bgcolor {
  background-color: #c02f3b;
  flex-wrap: nowrap;
}

.my_button {
  background-color: #333;
  border-radius: 15%;
}
